---
layout: default
body_class: "home-template user"
---
{% include header.html %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72784156-1', 'auto');
ga('send', 'pageview');

</script>

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      {% for post in paginator.posts %}
      <article class="{%comment%}post_class{%endcomment%}">

          {% if post.image %}
              <div class="image-holder show">
                <a href="{{ post.url | prepend: site.baseurl }}" class="inner" style="background-image: url('{{ site.baseurl }}/content/images/{{ post.image }}');">
                  <img src="{{ site.baseurl }}/content/images/{{ post.image }}">
              </a>
            </div>
          {% endif %}

          <div class="meta">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a>
            </time>
          </div>

          <header>
              <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
          </header>

          <div class="text">
              <p>{{ post.excerpt }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Continue Reading</a>
          </div>
      </article>
      {% endfor %}

    </div>
  </div>
</div>

{% include pagination.html %}

{% include footer.html %}
